<h1>About Bloccit</h1>
<p>This site was created by Alex Erling using Ruby on Rails. Bloccit was made for the Bloc Software Engineering program! </p>

<button class="social-btn"><%= link_to "Follow me", "https://www.twitter.com/trybloc" %>             </button>